
 
  body {
    height: 100%;
    overflow: hidden; 
  }
  
  .lenis-ignore {
      overscroll-behavior: contain;
      -webkit-overflow-scrolling: touch;
    }
    
  /* App.css */
  .lenis-ignore::-webkit-scrollbar {
      width: 8px;
    }
    .lenis-ignore::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
    }
    .lenis-ignore::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
  
    [data-lenis-prevent] {
      overscroll-behavior: contain;
      -webkit-overflow-scrolling: touch;
    } 